body {
    font-family: Arial, sans-serif;
}
.nav-bar ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
    font-size: 13px;
    transform: translateY(-4px);
}
.nav-bar ul li {
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}
ul {
    list-style-type: none;
}
svg {
    padding: 7px;
    transform: translateY(2px);
    height: 24px;
    width: 24px;
}
svg:hover {
    background-color: lightgray;
    border-radius: 50%;
}
#icon {
    background-color: goldenrod;
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
/* container */
.container {
    display: flex;
    flex-direction: column;

}
.logo {
    width: 272px;
    height: 92px;
}
/* footer */
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.curr-country {
    background-color: rgb(243, 243, 243);
    padding: 15.5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding-left: 40px;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
}
.footer ul {
    display: flex;    
    margin-right: 30px;
}
.footer ul li {
    font-size: 15px;
    margin-left: 30px;  
}
.footer ul li a {
    color: rgba(0, 0, 0, 0.5);
}